@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Inter:opsz@14..32&display=swap');

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: -0.44px;
    line-height: 28px;
    margin: 0;
}

#title {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    letter-spacing: -2.88px;
    margin: 0;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 32px;
}

.label {
    height: 36px;
    padding: 0px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 128px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A6A6A6;
}

@media screen and (max-width: 520px) {
    p {
        font-size: 16px;
    }

    .label {
        height: 30px;
        padding: 0px 10px;
    }
}